*{
    box-sizing: border-box;
}
body{
    background-image: url(index_background_photo.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0px;
}
.bios{
    font-style: italic;
    background-color: rgb(185, 206, 21);
    border-style:solid;
    border-color:rgb(48, 207, 20);
    border-width: thick;
    border-radius: 8px;
    
}
.links{
    color:rgb(11, 55, 122);
    text-decoration: none;
}
.links:hover{
    color:rgb(132, 183, 228);
}
::selection{
    background-color: gray;
}
.pic{
    max-width: 80%;
}


iframe{ 
    width: 1000px;
    height: 750px;
    margin:250px;
    border:solid 5px white;
    outline:solid 25px black; 
}
#t{
    border-collapse: collapse;
    text-align: center;
    padding:20px;
    margin: auto;
}
.elements1{
    width: 200px;
    height: 100px;
    border:black medium solid;
    background-color: greenyellow;
}
.elements2{
    height: 200px;
    border:black medium solid;
    background-color: white;
}
.elements1:hover , .elements2:hover{
    background-color: lightgray;
}

