body{
    background-color: rgb(66, 199, 18);

}
.box{
    background-color: yellow;
    border:solid medium black;
    border-radius: 20px;
    padding:10px;
    margin:10px;
}
::selection{
    background-color: gray;
}