body{
    background-image: url(sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-style: italic;
    color:black;
}
.box{
    background-color: brown; 
    border-style:solid;
    border-color:white;
    padding: 12px;
    margin: 20px;
    border-radius: 10px;
}
::selection{
    background-color: gray;
}
#n{
    opacity: 0.5;
    border-radius: 10px;
}
#n:focus{
    border: black solid 2px;
}
